/* .Header {
  
} */

.Header img {
  height: 30px;
  position: absolute;
  z-index: 1;
  left: 47px;
}

.Header .sawd {
  z-index: 2;
  position: relative;
}

.Header .dit {
  z-index: 0;
  position: relative;
}

.Header h1:hover {
  color: rgb(168, 86, 86);
}

.Header .logo {
  text-decoration: none;
  position: relative;
}

.Header .logo img {
  animation: 1.5s floaty infinite;
}

.Header li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
  font-size: 18px;
}

.Header button {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.Header .watchedButton:hover {
  color: rgb(168, 86, 86);
  font-weight: 600;
}

.Header .header-bg-color {
  background-color: #81bbc7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

@keyframes floaty {
  0% {
    transform: translate(-10px, 15px);
  }
  50% {
    transform: translate(5px, -8px);
  }
  100% {
    transform: translate(-10px, 15px);
  }
}

@media only screen and (min-width: 768px) {
  .Header {
    display: flex;
    justify-content: space-between;
    background-color: #81bbc7;
  }

  .Header .header-bg-color {
    flex: 1;
  }
}
