.Card img {
  width: 100%;
  max-width: 500px;
  min-width: 120px;
}

.Card i {
  color: #81bbc7;
}

.Card {
  background-color: #2e3d47;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 15px 10px;
  border-radius: 5px;
  height: 95%;
}

.Card h2 {
  height: 75px;
  font-size: 125%;
  text-align: center;
  padding-top: 15px;
  font-family: "Sarala", sans-serif;
  font-weight: 400;
}

.Card .movie-card-title {
  text-decoration: none;
}

.Card .movie-card-title:hover,
.Card h2:hover {
  transition: all 0.5s ease;
  color: rgb(255, 34, 34);
}

.Card li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Card .card-text-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 19px;
}

.Card .card-text-content div {
  margin: 0 10px;
}

.Card .isNotFavorite {
  transition: all 0.4s ease;
  color: #fff;
}

.Card .isFavorite {
  transition: all 0.4s ease;
  color: #81bbc7;
}

.Card .ratings i {
  color: yellow;
}

.Card .text-options {
  font-size: 115%;
}
