.MovieDetailsRoute {
  margin: 10px 30px;
}

.MovieDetailsRoute .poster-img {
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  display: block;
  border-radius: 5px;
}

.MovieDetailsRoute .top-buttons {
  display: flex;
  justify-content: space-between;
}

.MovieDetailsRoute i {
  font-size: 38px;
}

.MovieDetailsRoute button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.MovieDetailsRoute .back-btn i {
  color: rgb(168, 86, 86);
}

.MovieDetailsRoute .not-watched,
.MovieDetailsRoute .has-watched {
  font-size: 24px;
}

.MovieDetailsRoute .not-watched {
  color: #fff;
  transition: color 0.3s ease;
}

.MovieDetailsRoute .has-watched,
.MovieDetailsRoute .has-watched i {
  color: #81bbc7;
  transition: color 0.3s ease;
}

.MovieDetailsRoute .title-rating {
  display: flex;
  justify-content: space-between;
}

.MovieDetailsRoute .movie-information {
  margin: 10px 5px;
}

.MovieDetailsRoute .movie-information .genre-date-runtime,
.MovieDetailsRoute .movie-information .overview {
  margin-bottom: 50px;
}

.MovieDetailsRoute .movie-information h2 {
  font-size: 24px;
  margin-right: 20px;
  font-family: "Sarala", sans-serif;
}

.MovieDetailsRoute .movie-information span {
  font-size: 18px;
  font-family: "Saira Condensed", sans-serif;
}

.MovieDetailsRoute .title-rating div {
  width: 80px;
}

.MovieDetailsRoute .title-rating p {
  display: inline;
}

.MovieDetailsRoute .overview h3 {
  font-family: "Sarala", sans-serif;
}

.MovieDetailsRoute .overview p {
  font-weight: 600;
  line-height: 32px;
}

.MovieDetailsRoute .backdrop-img {
  display: none;
}

@media only screen and (min-width: 980px) {
  .MovieDetailsRoute .poster-img {
    width: 50%;
    max-width: 400px;
    margin: 10px;
    display: block;
    border-radius: 5px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.452);
  }

  .MovieDetailsRoute .backdrop-img {
    display: block;
    position: absolute;
    top: 275px;
    left: 0;
    right: 0;
    z-index: -1;
    width: 125%;
    max-height: 750px;
    object-fit: cover;
    filter: hue-rotate(15deg) brightness(33%) grayscale(30%) contrast(110%);
  }

  .MovieDetailsRoute .content-details {
    display: flex;
    margin-top: 100px;
  }

  .MovieDetailsRoute .movie-information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .MovieDetailsRoute .movie-information h2 {
    font-size: 48px;
  }

  .MovieDetailsRoute .movie-information span {
    font-size: 24px;
  }

  .MovieDetailsRoute .title-rating div p {
    font-size: 28px;
  }

  .MovieDetailsRoute .movie-information h3 {
    font-size: 32px;
  }

  .MovieDetailsRoute .movie-information p {
    font-size: 18px;
  }
}
