.MovieGallery {
  margin-bottom: 50px;
}

.MovieGallery ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  flex-wrap: wrap;
}

.MovieGallery .btn-next-prev {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.MovieGallery .btn-next-prev button {
  width: 120px;
  margin: 0 10px;
  font-size: 18px;
  font-weight: 600;
  background-color: #81bbc7;
  border: none;
  cursor: pointer;
}

.MovieGallery .btn-next-prev button:hover {
  transition: background-color 0.2s ease;
  background-color: #62b3c4;
}

.MovieGallery .btn-next-prev button:disabled {
  background-color: #2c3241;
  color: #5f5f5f;
  cursor: default;
}

@media only screen and (min-width: 768px) {
  .MovieGallery ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1150px) {
  .MovieGallery ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1600px) {
  .MovieGallery ul {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
