.SearchInput {
  margin: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchInput button {
  margin: 0 15px;
  padding: 5px;
  width: 45px;
  height: 45px;
  background-color: #81bbc7;
  border-radius: 5px;
  font-size: 24px;
}

.SearchInput input {
  border-radius: 25px;
  padding: 8px;
  width: 65%;
  max-width: 600px;
  border: 3px solid #32334d;
}
