body,
header,
h1,
button,
h2,
p,
h3,
ul,
img {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-family: "Saira Condensed", sans-serif;
  /* font-family: 'Sarala', sans-serif; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
